.loading-area {
    position: fixed; /* Posição fixa em relação à janela de visualização */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o elemento no meio da página */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo preta com 80% de opacidade */
    display: flex; /* Para centralizar o conteúdo verticalmente */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    width: 100%; /* Ocupa toda a largura da página */
    height: 100%; /* Ocupa toda a altura da página */
    z-index: 999; /* Define a camada de profundidade para aparecer sobre outros elementos */
  }