<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="field">
    <label for="categoria" class="block">Cliente</label>
    <p-dropdown
      *ngIf="clientes$ | async as clientes"
      [options]="clientes"
      formControlName="cliente"
      optionValue="id"
      optionLabel="nome"
      placeholder="Cliente"
      (onChange)="handleClienteForm($event)"
    ></p-dropdown>
  </div>
  <div class="card flex flex-wrap gap-3">
    <div class="field">
      <label for="clienteNome" class="block">Nome</label>

      <input
        type="text"
        pInputText
        placeholder="Nome"
        formControlName="clienteNome"
      />
      <small
        class="p-error block"
        *ngIf="
          userForm.get('clienteNome')?.invalid &&
          userForm.get('clienteNome')?.dirty
        "
      >
        {{ errorMessage }}</small
      >
    </div>

    <div class="field">
      <label for="clienteCpf" class="block">CPF</label>

      <input
        type="text"
        pInputText
        placeholder="CPF"
        formControlName="clienteCpf"
      />
      <small
        class="p-error block"
        *ngIf="
          userForm.get('clienteCpf')?.invalid &&
          userForm.get('clienteCpf')?.dirty
        "
      >
        {{ errorMessage }}</small
      >
    </div>
  </div>
  <div class="card flex flex-wrap gap-3">
    <div class="field">
      <label for="clienteEndereco" class="block">Endereço</label>

      <input
        type="text"
        pInputText
        placeholder="Endereço"
        formControlName="clienteEndereco"
      />
    </div>

    <div class="field">
      <label for="telefone" class="block">Telefone</label>

      <input
        type="text"
        pInputText
        placeholder="Telefone"
        formControlName="clienteTelefone"
      />
      <small
        class="p-error block"
        *ngIf="
          userForm.get('clienteTelefone')?.invalid &&
          userForm.get('clienteTelefone')?.dirty
        "
      >
        {{ errorMessage }}</small
      >
    </div>
  </div>

  <p-table [value]="pedido.itemPedido" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Ref</th>
        <th>Produto</th>
        <th>Qtd.</th>
        <th>R$</th>
        <th>Cor</th>
        <th>Total</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemPedido>
      <tr>
        <td>{{ itemPedido.produto.referencia }}</td>
        <td>{{ itemPedido.produto.nome }}</td>
        <td>{{ itemPedido.quantidade }}</td>
        <td>{{ itemPedido.preco }}</td>
        <td>{{ itemPedido.cor }}</td>
        <td>{{ itemPedido.total }}</td>
        <td>
          <span
            class="pi pi-list mr-3"
            style="color: green; cursor: pointer"
          ></span>
          <span
            class="pi pi-trash"
            style="color: rgb(231, 12, 12); cursor: pointer"
            (click)="deleteDialog($event, itemPedido)"
          ></span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-novo-item-pedido
    *ngIf="produtos$ | async as produtos"
    [produtos]="produtos"
    (newItemPedidoEvent)="onAddItemPedido($event)"
  ></app-novo-item-pedido>
  <div class="mt-3 mb-3">
    <div *ngIf="pedido.itemPedido.length > 0">Total: {{ totalPedido() }}</div>
  </div>

  <button
    pButton
    type="submit"
    label="Salvar"
    [disabled]="userForm.invalid"
  ></button>
</form>
<p-toast></p-toast>
<p-confirmDialog rejectLabel="Não" acceptLabel="Sim"></p-confirmDialog>
