<div [style]="'margin-top: 20px'">
  <p-button
    (click)="showDialog()"
    icon="pi pi-external-link"
    label="Novo Produto"
  ></p-button>
  <p-dialog
    header="Novo Produto"
    [(visible)]="visible"
    [style]="{ width: '50vw', height: '60% ' }"
    [modal]="true"
  >
    <input
      [style]="{ width: '37vw', 'margin-bottom': '10px' }"
      type="text"
      pInputText
      [(ngModel)]="nome"
      placeholder="Nome"
    />

    <p-dropdown
      [style]="{ width: '37vw', 'margin-bottom': '10px' }"
      [options]="categorias"
      [(ngModel)]="selectedCategoria"
      optionLabel="nome"
      [filter]="true"
      filterBy="nome"
      [showClear]="true"
      placeholder="Categoria"
      (ngModelChange)="selecionarCategoria($event)"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedCategoria">
          <div>{{ selectedCategoria.nome }}</div>
        </div>
      </ng-template>
      <ng-template
        let-categoria
        pTemplate="item"
        style="height: 100%; position: absolute"
      >
        {{ categoria.nome }}
      </ng-template>
    </p-dropdown>

    <p-inputNumber
      [style]="{ width: '37vw', 'margin-bottom': '10px' }"
      [(ngModel)]="preco"
      mode="currency"
      inputId="currency-brazil"
      currency="BRL"
      locale="pt-BR"
      [step]="0.05"
      placeholder="Preço"
    >
    </p-inputNumber>
    <p-button
      (click)="salvar()"
      icon="pi pi-external-link"
      label="Salvar"
    ></p-button>
  </p-dialog>
</div>
