.area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90%;

}

:host ::ng-deep .p-dropdown, .p-inputtext {
    width: 250px;
}

:host ::ng-deep .p-inputnumber {
    width: 250px;
}

.itens-line{
    display: flex;
    align-self: baseline;
    column-gap: 20px;

}
