<div *ngIf="isOpen" class="area">
  <div class="itens-line">
    <p-dropdown
      [options]="clientes"
      [required]="true"
      [(ngModel)]="selectedCliente"
      [disabled]="itensPedido.length > 0"
      optionLabel="nome"
      [filter]="true"
      filterBy="nome"
      [showClear]="true"
      placeholder="Cliente"
      class="input"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedCliente">
          <div>{{ selectedCliente.nome }}</div>
        </div>
      </ng-template>
      <ng-template let-cliente pTemplate="item">
        <div>
          <div>{{ cliente.nome }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <p-dropdown
      class="input"
      [options]="produtos"
      [(ngModel)]="selectedProduto"
      optionLabel="nome"
      [filter]="true"
      filterBy="nome"
      [showClear]="true"
      placeholder="Produto"
      (ngModelChange)="atribuirPreco()"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedProduto">
          <div>{{ selectedProduto.nome }}</div>
        </div>
      </ng-template>
      <ng-template let-produto pTemplate="item">
        <div>
          <div>{{ produto.nome }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <p-inputNumber
      class="input"
      inputId="integeronly"
      [(ngModel)]="quantidade"
      placeholder="Quantidade"
    >
    </p-inputNumber>
  </div>
  <div class="itens-line">
    <!-- <input pInputText type="text" placeholder="Cor" [(ngModel)]="cor" /> -->
    <p-dropdown
      [options]="optionsCor"
      [(ngModel)]="cor"
      [showClear]="true"
      placeholder="Cor"
      optionLabel="cor"
      [filter]="true"
      filterBy="cor"
      class="input"
    ></p-dropdown>
    <p-inputNumber
      [(ngModel)]="preco"
      mode="currency"
      inputId="currency-brazil"
      currency="BRL"
      locale="pt-BR"
      [step]="0.05"
      class="input"
      placeholder="Preço"
    >
    </p-inputNumber>
    <p-button
      class="input"
      (onClick)="newItemPedido()"
      [disabled]="
        selectedCliente == null ||
        selectedProduto == null ||
        cor.cor == '' ||
        quantidade == null
      "
      >+</p-button
    >
  </div>

  <div class="table" *ngIf="itensPedido.length">
    <p-table [value]="itensPedido" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption"> Header </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Cor</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.produto.nome }}</td>
          <td>{{ item.cor }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ formatter(item.preco) }}</td>
          <td>{{ formatter(item.preco * item.quantidade) }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="caption"
        >Cliente: {{ selectedCliente.nome }} - {{ selectedCliente.endereco }}
      </ng-template>
      <ng-template pTemplate="summary">
        Total: {{ formatter(totalPedido) }}
      </ng-template>
    </p-table>
  </div>
  <p-button (onClick)="finalizarPedido()" [disabled]="itensPedido.length < 1"
    >Finalizar</p-button
  >
</div>
