<div *ngIf="isOpen">
  <ng-container *ngFor="let pedido of pedidoResponse">
    <p-accordion>
      <p-accordionTab>
        <ng-template pTemplate="header">
          {{ pedido.id }} - {{ pedido.clienteNome }} -
          {{ pedido.clienteEndereco }} -
        </ng-template>
        <p-table
          [value]="pedido.itemPedido"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Produto</th>
              <th>Cor</th>
              <th>Quantidade</th>
              <th>Valor un.</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pedido>
            <tr>
              <td>{{ pedido.produto.nome }}</td>
              <td>{{ pedido.cor }}</td>
              <td>{{ pedido.quantidade }}</td>
              <td>{{ pedido.preco }}</td>
              <td>{{ pedido.total }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Total Pedido: {{ pedido.total | currency : "BRL" }} - Data:
            {{ pedido.data | date : "dd/MM/yyyy" }}
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </ng-container>
</div>
