<div *ngIf="isOpen">
  <div class="mb-2">
    <input
      type="text"
      pInputText
      [(ngModel)]="nomeCliente"
      placeholder="Cliente"
      class="mr-1"
    />
    <p-button
      icon="pi pi-search"
      styleClass="p-button-rounded p-button-primary"
      (click)="buscarPedidos()"
    ></p-button>
  </div>
  <ng-container *ngFor="let pedido of pedidoResponse" class="header-accordion">
    <p-accordion>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="header-acc">
            <div class="text-header">
              {{ pedido.id }} - {{ pedido.clienteNome }} -
              {{ pedido.clienteEndereco }} -
              {{ pedido.data | date : "dd/MM/yyyy" }}
            </div>
          </div>
        </ng-template>

        <p-table
          [value]="pedido.itemPedido"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Produto</th>
              <th>Cor</th>
              <th>Quantidade</th>
              <th>Valor un.</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pedido>
            <tr>
              <td>{{ pedido.produto.nome }}</td>
              <td>{{ pedido.cor }}</td>
              <td>{{ pedido.quantidade }}</td>
              <td>{{ pedido.preco }}</td>
              <td>{{ pedido.total }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="summary-acc">
              <div>Total Pedido: {{ pedido.total | currency : "BRL" }}</div>
              <div>
                <p-button
                  icon="pi pi-list"
                  styleClass="p-button-rounded p-button-warning p-button-sm p-button-text p-button-raised"
                  (click)="updatePedido(pedido.id)"
                  class="mr-2"
                ></p-button>
                <p-button
                  icon="pi pi-times"
                  styleClass="p-button-rounded p-button-danger p-button-sm p-button-text p-button-raised"
                  (click)="removePedido(pedido.id)"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </ng-container>
  <div class="card flex flex-column gap-3">
    <div class="flex align-items-center justify-content-end">
      <span class="mx-1 text-color">Pedidos por página: </span>
      <p-dropdown
        [options]="options"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="selectedRowsPerPage"
        (ngModelChange)="onRowsPerPageChange($event)"
      ></p-dropdown>
    </div>
  </div>
</div>
