<div *ngIf="images!.length > 0">
  <p-button
    icon="pi pi-camera"
    severity="success"
    (onClick)="displayBasic = true"
  ></p-button>
  <p-galleria
    [value]="images"
    [(visible)]="displayBasic"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-item>
      <div class="square-image-container">
        <img
          [src]="'data:image/jpeg;base64,' + item.imageData"
          class="custom-image"
        />
        <button
          type="button"
          class="position-button-remove"
          pButton
          icon="pi pi-trash"
          (click)="removeImage(item.id)"
        ></button>
        <button
          type="button"
          class="position-button-add"
          pButton
          icon="pi pi-plus"
          (click)="addImage()"
        ></button>
      </div>
    </ng-template>
  </p-galleria>
</div>

<!-- [(value)]="images" -->
