.square-image-container {
  position: relative;
  width: 20rem; /* Largura desejada */
  height: 20rem; /* Altura desejada */
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites da div */
  background-color: white; /* Fundo branco fixo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-image {
  max-width: 90%; /* Garante que a imagem não ultrapasse o contêiner */
  max-height: 90%; /* Garante que a imagem não ultrapasse o contêiner */
  object-fit: contain; /* Redimensiona a imagem para caber no contêiner */
}

.position-button-remove {
  position: absolute;
  top: 92%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: rgb(224, 12, 12);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.position-button-add {
  position: absolute;
  top: 92%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: orange;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}