<div class="card flex justify-content-center">
  <p-dialog
    [header]="headerTitle"
    [modal]="true"
    [visible]="true"
    [style]="{ width: '50vw' }"
    (onDragEnd)="closeDialog()"
  >
    <div class="flex flex-wrap gap-3">
      <div *ngFor="let tipo of tiposCliente" class="field-checkbox">
        <p-radioButton
          [inputId]="tipo.key"
          name="category"
          [value]="tipo"
          [(ngModel)]="selectedDocType"
        ></p-radioButton>
        <label [for]="tipo.key" class="ml-2">{{ tipo.name }}</label>
      </div>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="field">
        <label for="nome" class="block">Nome</label>

        <input
          type="text"
          pInputText
          placeholder="Nome"
          formControlName="nome"
        />
        <small
          class="p-error block"
          *ngIf="userForm.get('nome')?.invalid && userForm.get('nome')?.dirty"
        >
          {{ errorMessage }}</small
        >
      </div>

      <div class="field">
        <label for="cpfcnpj" class="block">{{ selectedDocType.name }}</label>

        <p-inputMask
          [mask]="
            selectedDocType.name == 'CNPJ'
              ? '99.999.999/9999-99'
              : '999.999.999-99'
          "
          formControlName="cpfcnpj"
          [placeholder]="
            selectedDocType.name == 'CNPJ'
              ? '00.000.000/0000-00'
              : '000.000.000-00'
          "
        ></p-inputMask>
        <small
          class="p-error block"
          *ngIf="
            userForm.get('cpfcnpj')?.invalid && userForm.get('cpfcnpj')?.dirty
          "
        >
          {{ errorMessage }}</small
        >
      </div>

      <div class="field">
        <label for="nome" class="block">Endereço</label>

        <input
          type="text"
          pInputText
          placeholder="Endereço"
          formControlName="endereco"
        />
      </div>

      <div class="field">
        <label for="telefone" class="block">Telefone</label>

        <input
          type="text"
          pInputText
          placeholder="Telefone"
          formControlName="telefone"
        />
        <small
          class="p-error block"
          *ngIf="
            userForm.get('telefone')?.invalid && userForm.get('telefone')?.dirty
          "
        >
          {{ errorMessage }}</small
        >
      </div>

      <button
        pButton
        type="submit"
        [label]="buttonSaveTitle"
        [disabled]="userForm.invalid"
      ></button>
    </form>
  </p-dialog>
</div>
