.table-product-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .table-product-area {
    width: 80%;
    background-color: rgb(0, 0, 0);
    padding: 10px 10px 0px 10px;
    /* Outros estilos, se necessário */
  }
  
  .paginator-area {
    width: 80%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }

  .acoes{
    display: flex; /* Torna .acoes um contêiner flexbox */
    gap: 10px; /* Define o espaçamento entre os elementos filhos */
  }
  :host ::ng-deep .acoes .p-button {
    border-radius: 50px;
    border: 0px;

  }

  :host ::ng-deep .acoes .bt-del .p-button {
    background-color: rgb(126, 2, 2);
    border: 0px;
  }

  :host ::ng-deep .acoes .bt-del .p-button-icon {
    color: white;
  }

	