<div class="card flex justify-content-center">
  <p-dialog
    [header]="headerTitle"
    [modal]="true"
    [visible]="true"
    [style]="{ width: '50vw' }"
    (onDragEnd)="closeDialog()"
  >
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="field">
        <label for="nome" class="block">Nome</label>
        <input
          type="text"
          pInputText
          placeholder="Nome"
          formControlName="nome"
        />
        <small
          class="p-error block"
          *ngIf="userForm.get('nome')?.invalid && userForm.get('nome')?.dirty"
        >
          {{ errorMessage }}</small
        >
      </div>

      <button
        pButton
        type="submit"
        [label]="buttonSaveTitle"
        [disabled]="userForm.invalid"
      ></button>
    </form>
  </p-dialog>
</div>
