<div class="card flex gap-3">
  <div class="field">
    <input
      type="text"
      pInputText
      placeholder="Cliente"
      [(ngModel)]="params.cliente"
    />
  </div>
  <div class="field">
    <input
      type="date"
      pInputText
      placeholder="De: "
      [(ngModel)]="params.dataInicial"
    />
  </div>
  <div class="field">
    <input
      type="date"
      pInputText
      placeholder="Até: "
      [(ngModel)]="params.dataFinal"
    />
  </div>
  <p-button
    label="Pesquisar"
    severity="warning"
    (onClick)="handleFilter()"
  ></p-button>
</div>
<p-table
  [value]="pedidos"
  [paginator]="true"
  [rows]="params.size"
  [showCurrentPageReport]="true"
  [totalRecords]="totalElements"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]"
  [lazy]="true"
  (onPage)="pageChange($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Número</th>
      <th>Cliente</th>
      <th>Telefone</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pedido>
    <tr>
      <td>{{ pedido.id }}</td>
      <td>{{ pedido.clienteNome }}</td>
      <td>{{ pedido.clienteTelefone }}</td>
      <td>{{ pedido.data | date : "dd/MM/yyyy" }}</td>
      <td>{{ pedido.total | currency : "BRL" }}</td>

      <td>
        <span
          class="pi pi-eye mr-3"
          style="color: green; cursor: pointer"
          (click)="onShow(pedido)"
        ></span>
        <span
          class="pi pi-trash"
          style="color: rgb(231, 12, 12); cursor: pointer"
          (click)="deleteDialog($event, pedido)"
        ></span>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="mt-4">
  <app-nova-categoria *ngIf="openDialog" />
</div>
<p-toast></p-toast>
<p-confirmDialog rejectLabel="Não" acceptLabel="Sim"></p-confirmDialog>

<p-button
  label="Novo Pedido"
  (click)="novoPedido()"
  severity="secondary"
></p-button>
